@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro&display=swap');

:root
{
	--main-bg-color: rgb(34, 34, 34); /*Color principal para el fondo.*/
	--link-color: rgb(255, 145, 0); /*Color para los enlaces.*/
	--btn-nav-color: rgb(41, 41, 41); /*Color de fondo para los botones del nav.*/
}

body
{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	padding-bottom: 5em;
	min-height: 100vh;
	color: rgb(255, 255, 255);
	background-color: rgb(43, 43, 43);
}

.header-container
{
	background-color: var(--main-bg-color);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo-container
{
	margin-bottom: 5px;
}

.logo-container a
{
	display: flex;
	align-items: center;
	text-decoration: none;
	color:rgb(255, 255, 255);
}

.logo-image
{
	height: 50px;
	margin: 5px 10px 0 0;
}

.logo-name
{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.nav-container
{
	width: 100%;
}

.nav-container ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 5px;
}

.nav-list > li
{
	position: relative;
	display: inline-block;
}

.nav-list > li > a
{
	text-decoration: none;
	font-size: 1.2em;
	background-color: var(--btn-nav-color);
	color: rgb(255, 255, 255);
	border-radius: 1px;
	font-family: 'Montserrat', sans-serif;
	display: block;
	padding: 3px;
	transition: all 0.2s linear;
}

.nav-list li a:hover
{
	background-color: rgb(20, 20, 20);
	box-shadow: #c20000 0 3px 0;
}

.nav-list li:hover .genders-list
{
	display: block;
}

.nav-list ul
{
	column-count: 3;
	display: none;
	padding: 10px;
}

.genders-list
{
	position: absolute;
	background-color: rgb(70, 70, 70);
	width: 400px;
}

.genders-list  li a
{
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 3px;
}

.main-container
{
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
	width: 90%;
}

.message-container
{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.message-container h1
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-input
{
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 1em;
	background-color: var(--btn-nav-color);
	color:rgb(230, 230, 230);
	box-shadow: rgb(146, 146, 146) 0 2px 0;
	padding: 5px;
	margin-right: 3px;
}

.search-button
{
	border: none;
	background-color: var(--btn-nav-color);
	border-radius: 5px;
	font-size: 1em;
	box-shadow: rgb(233, 141, 4) 3px 2px 0;
	outline: none;
	color: white;
	padding: 5px;
	float: right;
	cursor: pointer;
	transition: all 0.2s linear;
}

.search-button:hover
{
	transform: scale(0.99);
	box-shadow: rgb(202, 123, 5) 2px 1px 0;
}

.movies-container
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
}

.movie-item
{
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 0.2s linear;
	max-width: 220px;
}

.movie-item:hover
{
	transform: scale(0.9);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.movie-item figure
{
	display: flex;
	flex-flow: column;
	max-width: inherit;
	margin-bottom: auto;
	margin: auto;
}

.movie-item figcaption
{
	background-color: rgb(109, 93, 0);
	padding: 3px;
	text-align: center;
	font-size: 0.8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: auto;
}

.close-button
{
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	transform: scale(1);
	cursor: pointer;
	transition: all 0.5s linear;
}

.close-button:hover
{
	color: #d40000;
	transform: scale(2) rotate(360deg);
}

.panel-container
{
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	z-index: 10;
	display: none;
}

.movie-info
{
	width: 800px;
	color:#fff;
	animation: movieInfo 1s linear;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
}
 
.movie-info p
{
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
}

.movie-info img
{
	box-shadow: rgba(255, 252, 100, 0.5) 0 0 10px;
}

@keyframes movieInfo
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

.movie-details
{
	text-align: center;
}

.footer-container
{
	background-color: var(--main-bg-color);
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.footer-container a
{
	margin: 0 50px;
	color: var(--link-color);
}

.footer-container a:hover
{
	color: rgb(211, 120, 0);
}

@media only screen and (max-width: 600px)
{
	.movie-item
	{
		max-width: 100px;
	}
	.movie-item figcaption
	{
		font-size: 0.6em;
	}

	.movie-info
	{
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 0.8em;
		width: 90%;
	}

	.movie-info p
	{
		max-width: 190px;
		text-align: center;
		margin: 0 auto;
	}

	.movie-info img
	{
		max-width: 200px;
		margin-top: 50px;
	}
}